html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
    background: #020617;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
}